@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

.container-g {
  width: 100%;
}

.container-md {
  width: 90%;
  max-width: 450px;
}

.container-pd {
  padding: 6rem 0 0;
}

.subtitles {
  font-size: 3rem;
  position: relative;
  display: block;
  font-weight: 400;
  color: #616161;
  font-family: "Oswald";
}
.subtitles span {
  position: relative;
}
.subtitles span:first-child {
  display: inline-flex;
  justify-content: center;
  border-top: 2px solid #773333;
}
.subtitles span:last-child {
  display: inline-flex;
  justify-content: center;
  border-bottom: 2px solid #773333;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 1s ease-in-out;
  min-height: 650px;
  height: 100vh;
  max-height: 1000px;
  overflow: hidden;
  position: relative;
  background-color: #000;
  background: url("../codingbluemed.jpg") no-repeat center center fixed;
  background-size: cover;
}
.header .logo {
  color: #fff;
  font-family: "Caveat", cursive;
  font-size: 1.9rem;
}
.header .logo span {
  color: rgb(96, 128, 235);
  color: #773333;
}
.header .arrow {
  position: absolute;
  bottom: 40px;
  transform: rotateZ(90deg);
  -webkit-animation: arrow 2.6s infinite;
          animation: arrow 2.6s infinite;
}
.header .arrow img {
  width: 30px;
}
@-webkit-keyframes arrow {
  0% {
    bottom: 40px;
  }
  50% {
    bottom: 30px;
  }
  100% {
    bottom: 40px;
  }
}
@keyframes arrow {
  0% {
    bottom: 40px;
  }
  50% {
    bottom: 30px;
  }
  100% {
    bottom: 40px;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9);
}

.nav_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
}

.btn-menu {
  display: flex;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  z-index: 999;
}

.btn-menu-lines,
.btn-menu-lines::before,
.btn-menu-lines::after {
  content: "";
  display: block;
  width: 1.8rem;
  height: 3px;
  background-color: #fff;
  position: relative;
}

.btn-menu-lines::before {
  top: -8px;
}

.btn-menu-lines::after {
  top: 5px;
}

.menu {
  transition-duration: 1s;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateY(-300px);
  width: 95%;
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 2.1rem 0;
  box-shadow: 0 0 15px gray;
  z-index: 998;
}
.menu.open-menu {
  transform: translateY(270px);
  width: 95%;
}
.menu .menu_li {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.menu .menu_li .menu_a {
  display: flex;
  color: #616161;
  font-size: 1.2rem;
  font-weight: 400;
  height: 50px;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease-in-out;
  font-family: "Oswald";
  gap: 0.4rem;
}
.menu .menu_li .menu_a img {
  width: 1.2rem;
}
.menu .menu_li .menu_a .menu_span {
  position: relative;
}
.menu .menu_li .menu_a .menu_span span {
  margin-left: 0.1rem;
  color: #773333;
}
.menu .menu_li .menu_a.a_sobremi {
  width: 135px;
}
.menu .menu_li .menu_a.a_skills {
  width: 100px;
}
.menu .menu_li .menu_a.a_portfolio {
  width: 135px;
}
.menu .menu_li .menu_a.a_contact {
  width: 125px;
}
.menu .menu_li .menu_a:hover {
  font-size: 1.3rem;
}

.presentation {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.presentation figure {
  position: relative;
  left: 10px;
}
.presentation .taza {
  width: 100px;
}
.presentation .presentation_me {
  width: 90%;
  max-width: 350px;
  margin-bottom: 1.7rem;
}
.presentation .presentation_me h1 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
.presentation .presentation_me h1 span {
  font-weight: 600;
  font-size: 16px;
  display: block;
  margin: 1rem;
}
.presentation .presentation_me .efecto-escritura {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: rgb(96, 128, 235);
  color: #773333;
  font-weight: 600;
}
.presentation .presentation_social {
  width: 135px;
  display: flex;
  justify-content: space-between;
}
.presentation .presentation_social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  background-color: transparent;
  height: 40px;
}
.presentation .presentation_social a .link_img {
  width: 30px;
  transition: all 0.3s ease-in-out;
  background: #fff;
  border-radius: 50%;
}
.presentation .presentation_social a:hover .link_img {
  width: 40px;
  background: #773333;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.about h2 {
  width: 100%;
}
.about .about_element {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  color: #616161;
}
.about .about_element h3 {
  color: #773333;
  font-size: 1.5rem;
}
.about .about_element .about_text {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
.about .about_element .about_text .about_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.about .about_element .about_text .about_info p {
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  color: #616161;
}
.about .about_element .about_text .about_info p span {
  font-weight: 700;
}
.about .about_element .about_text .about_data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.about .about_element .about_text .about_data .about_destrezas .li_destrezas p {
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  color: #616161;
  font-weight: 700;
}
.about .about_element .about_figure {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 50px gray;
  border-radius: 50%;
}
.about .about_element .about_figure img {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transform: scale(1.2);
}
.about .about_element .about_data .about_destrezas {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.about .about_element .about_data .about_destrezas .li_destrezas {
  width: 40%;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.skills .skills_content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.skills .skills_content .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  gap: 1rem;
}
.skills .skills_content .skill img {
  width: 100px;
}
.skills .skills_content .skill p {
  color: gray;
  font-weight: bold;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.portfolio .portfolio_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.portfolio .portfolio_work {
  width: 100%;
  border-radius: 1rem;
}
.portfolio .portfolio_work img {
  border-radius: 1rem 1rem 0 0;
  display: block;
}
.portfolio .portfolio_figure {
  width: 100%;
}
.portfolio .portfolio_figure a {
  width: 100%;
}
.portfolio .portfolio_info {
  width: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 2rem 2rem;
  border-radius: 0 0 1rem 1rem;
  gap: 2rem;
}
.portfolio .portfolio_info .portfolio_data {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.portfolio .portfolio_info .data {
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  background-color: #fff;
  color: gray;
}
.portfolio .portfolio_info .data img {
  width: 25px;
}
.portfolio .portfolio_info .portfolio_enlace {
  background-color: #773333;
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  transition-duration: 0.5s;
}
.portfolio .portfolio_info .portfolio_enlace:hover {
  transform: scale(1.1);
}

footer {
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

@media screen and (min-width: 992px) {
  .container-md {
    width: 875px;
    max-width: 900px;
  }

  .header .arrow img {
    width: 40px;
  }

  .btn-menu {
    display: none;
  }

  .menu {
    position: initial;
    transform: translateY(0);
    width: 80%;
    flex-direction: row;
    padding: 0;
    transition-duration: initial;
    justify-content: flex-end;
    background: transparent;
    box-shadow: none;
    gap: 1.5rem;
    visibility: visible;
    opacity: 1;
  }
  .menu.open-menu {
    transform: initial;
  }
  .menu .menu_li {
    height: 100%;
    width: auto;
  }
  .menu .menu_li .menu_a {
    color: #fff;
  }

  .presentation .taza {
    width: 150px;
  }
  .presentation .presentation_me {
    max-width: 900px;
  }
  .presentation .presentation_me h1 {
    font-size: 4.6rem;
  }
  .presentation .presentation_me h1 span {
    font-size: 1.5rem;
  }
  .presentation .presentation_me .efecto-escritura {
    font-size: 1.6rem;
  }
  .presentation .presentation_social {
    width: 180px;
  }
  .presentation .presentation_social a {
    width: 50px;
    height: 50px;
  }
  .presentation .presentation_social a .link_img {
    width: 40px;
  }
  .presentation .presentation_social a:hover .link_img {
    width: 50px;
  }

  .about .about_element {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about .about_element .about_text {
    width: 70%;
  }
  .about .about_element .about_text .about_info {
    width: 100%;
  }
  .about .about_element .about_text .about_data {
    width: 100%;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.5rem;
  }
  .skills .skills_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .skills .skills_content .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 1rem;
  }
  .skills .skills_content .skill img {
    width: 100px;
  }
  .skills .skills_content .skill p {
    color: gray;
    font-weight: bold;
  }

  .portfolio {
    gap: 4.5rem;
  }
  .portfolio h2 {
    width: 100%;
    text-align: center;
  }
  .portfolio .portfolio_content {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
  }
  .portfolio .portfolio_work {
    width: 47%;
  }
}
@media screen and (min-width: 1200px) {
  .container-md {
    width: 1080px;
    max-width: 1080px;
  }

  .presentation .presentation_me {
    max-width: 1100px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
  .skills .skills_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .skills .skills_content .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    gap: 1rem;
  }
  .skills .skills_content .skill img {
    width: 100px;
  }
  .skills .skills_content .skill p {
    color: gray;
    font-weight: bold;
  }

  .portfolio {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
  }
  .portfolio h2 {
    width: 100%;
    text-align: center;
  }
  .portfolio .portfolio_work {
    width: 31%;
  }
}/*# sourceMappingURL=main.css.map */