@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

.container-g {
  width: 100%;
}

.container-md {
  width: 90%;
  max-width: 450px;
}

.container-pd {
  padding: 4rem 0;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 1s ease-in-out;
  min-height: 600px;
  height: 100vh;
  max-height: 1000px;
  overflow: hidden;
  position: relative;
  background-color: #000;
  background: url("../codingbluemed.jpg") no-repeat center center fixed;
  background-size: cover;
}
.header .logo {
  color: #fff;
  font-family: "Caveat", cursive;
  font-size: 1.9rem;
}
.header .logo span {
  color: rgb(96, 128, 235);
  color: #773333;
}
.header .arrow {
  position: absolute;
  bottom: 7vh;
  transform: rotateZ(90deg);
  -webkit-animation: arrow 2.6s infinite;
          animation: arrow 2.6s infinite;
}
.header .arrow img {
  width: 30px;
}
@-webkit-keyframes arrow {
  0% {
    bottom: 6vh;
  }
  50% {
    bottom: 5vh;
  }
  100% {
    bottom: 6vh;
  }
}
@keyframes arrow {
  0% {
    bottom: 6vh;
  }
  50% {
    bottom: 5vh;
  }
  100% {
    bottom: 6vh;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 999;
}

.btn-menu {
  display: flex;
  background: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 0.2rem;
  cursor: pointer;
  z-index: 999;
}

.btn-menu-lines,
.btn-menu-lines::before,
.btn-menu-lines::after {
  content: "";
  display: block;
  width: 1.8rem;
  height: 3px;
  background: gray;
  position: relative;
}

.btn-menu-lines::before {
  top: -8px;
}

.btn-menu-lines::after {
  top: 5px;
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateY(-300px);
  width: 95%;
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 2.1rem 0;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  box-shadow: 0 0 15px gray;
  border-radius: 0.4rem;
  z-index: 998;
  transition-duration: 1s;
}
.menu.open-menu {
  transform: translateY(270px);
  width: 95%;
}
.menu .menu_li {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.menu .menu_li .menu_a {
  display: flex;
  color: gray;
  font-size: 1.1rem;
  height: 50px;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease-in-out;
  border-radius: 0.5rem;
  border-bottom: 1px solid gray;
}
.menu .menu_li .menu_a.a_sobremi {
  width: 100px;
}
.menu .menu_li .menu_a.a_skills {
  width: 55px;
}
.menu .menu_li .menu_a.a_portfolio {
  width: 100px;
}
.menu .menu_li .menu_a.a_contact {
  width: 90px;
}
.menu .menu_li .menu_a:hover {
  border-bottom: 1px solid gray;
  width: 92%;
  height: 65px;
  border-radius: 1rem;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.presentation {
  color: #fff;
  height: 95%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
.presentation figure {
  display: none;
}
.presentation .presentation_me {
  width: 90%;
  max-width: 350px;
  margin-bottom: 1.7rem;
}
.presentation .presentation_me h1 {
  font-size: 3.3rem;
  text-align: center;
  margin-bottom: 1rem;
}
.presentation .presentation_me h1 span {
  font-weight: 600;
  font-size: 16px;
  display: block;
  margin: 1rem;
}
.presentation .presentation_me .efecto-escritura {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: rgb(96, 128, 235);
  color: #773333;
  font-weight: 600;
}
.presentation .presentation_social {
  width: 135px;
  display: flex;
  justify-content: space-between;
}
.presentation .presentation_social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  background-color: transparent;
  height: 40px;
}
.presentation .presentation_social a .link_img {
  width: 30px;
  transition: all 0.3s ease-in-out;
  background: #fff;
  border-radius: 50%;
}
.presentation .presentation_social a:hover .link_img {
  width: 40px;
  background: #773333;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=main.css.map */