@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

$width-giant : 100%;
$width-md : 90%;
$width-max-md : 450px;
$padding-box-main : 2rem 0;
$font-size : 16px;
// Primary colors
$color-white: #fff;
$color-dark-black: #000;
$color-grayish: gray;
$color-grayish-dark: #616161;
$color-lila:#773333;
$weigth-light: 300;
$weigth-normal: 400;
$weigth-semi-bold: 500;
$weigth-bold: 600;
$weigth-ultra-bold : 700;
$font-logo: 'Caveat', cursive;
$font-oswald: 'Oswald';

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: $font-size;
}
a{
    text-decoration: none;
    color: $color-dark-black;
}
.container-g{
    width: $width-giant;
}
.container-md{
    width: $width-md;
    max-width: $width-max-md;
}
.container-pd{
    padding: 6rem 0 0;
    // min-height: 100vh;
}
.subtitles{
    font-size: 3rem;
    position: relative;
    display: block;
    font-weight: $weigth-normal;
    color: $color-grayish-dark;
    font-family: $font-oswald;
    // background: red;
    span{
        position: relative;
    }
    span:first-child{
        display: inline-flex;
        justify-content: center;
        // width: 100px;
        border-top: 2px solid $color-lila;
    }
    
    span:last-child{
        display: inline-flex;
        justify-content: center;
        border-bottom: 2px solid $color-lila;
    }
}
.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 1s ease-in-out;
    min-height: 50vh;
    height: 660px;
    max-height: 1000px;
    overflow: hidden;
    position: relative;
    background-color: $color-dark-black;
    background: url('../codingbluemed.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .logo{
        color: $color-white;
        font-family: $font-logo;
        font-size: 1.9rem;
        span{
            color: rgb(96, 128, 235);
            color: $color-lila;
        }
    }
    .arrow{
        position: absolute;
        bottom: 40px;
        transform: rotateZ(90deg);
        animation: arrow 2.6s infinite;
        img{
            width: 30px;
        }
        @keyframes arrow {
        0%{
            bottom: 40px;
        }
        50%{
            bottom: 30px;
            
        }
        100%{
            bottom: 40px;

        }
    }
    }
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 999;
    background-color: rgba( 0, 0 ,0, .9);
}
.nav_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
}
.btn-menu{
    display: flex;
    // background: $color-white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // border-radius: .2rem;
    cursor: pointer;
    z-index: 999;
}
.btn-menu-lines,
.btn-menu-lines::before,
.btn-menu-lines::after{
    content: "";
    display: block;
    width: 1.8rem;
    height: 3px;
    background-color: $color-white;
    position: relative;
}
.btn-menu-lines::before{
    top: -8px;
}
.btn-menu-lines::after{
    top: 5px;
}
.menu{
    transition-duration: 1s;
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translateY(-300px);
    width:95%;
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 2.1rem 0;
    box-shadow: 0 0 15px $color-grayish;
    z-index: 998;
    &.open-menu{
        transform: translateY(270px);
        width:95%;
    }
    .menu_li{
            display: flex;
            width: 100%;
            height: 100px;
            align-items: center;
            justify-content: center;
        .menu_a{
            display: flex;
            color: $color-grayish-dark;
            font-size: 1.2rem;
            font-weight: $weigth-normal;
            height: 50px;
            align-items: center;
            justify-content: center;
            transition: all .6s ease-in-out;
            font-family: $font-oswald;
            gap: .4rem;
            // background: gray;
            // border-radius: .5rem;
            // border-bottom: 2px solid $color-grayish-dark;
            // border-bottom: 2px solid $color-lila;
            img{
                width: 1.2rem;
                // margin-right: .4rem;
            }
            .menu_span{
                position: relative;
                // top: -2px;
                span{
                    
                    margin-left: .1rem;
                    color: $color-lila;
                }
            }
            &.a_sobremi{
                width: 135px;
            }
            &.a_skills{
                width: 100px;
            }
            &.a_portfolio{
                width: 135px;
            }
            &.a_contact{
                width: 125px;
            }
            &:hover{
                font-size: 1.3rem;
            }
        }
    }
}
.presentation{
    color: $color-white;
    // background: gray;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    figure{
        position: relative;
        left: 10px;
    }
    .taza{
        width: 100px;
    }
    .presentation_me{
        width: 90%;
        max-width: 350px;
        margin-bottom: 1.7rem;
        // background-color: red;
        h1{
            font-size: 3.5rem;
            text-align: center;
            margin-bottom: 1rem;
            span{
                font-weight: $weigth-bold;
                font-size: 16px;
                display: block;
                margin: 1rem;
            }
        }
        .efecto-escritura{
            width: 100%;
            text-align: center;
            font-size: 1.2rem;
            color: rgb(96, 128, 235);
            color: $color-lila;
            font-weight: $weigth-bold;
            // background: red;
        }
    }
    .presentation_social{
            // background: gray;
            width: 135px;
            display: flex;
            justify-content: space-between;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                background-color: transparent;
                height: 40px;
                .link_img{
                    width: 30px;
                    transition: all .3s ease-in-out;
                    background: $color-white;
                    border-radius: 50%;
                }
                &:hover .link_img{
                    width: 40px;
                    background: $color-lila;
                }
            }
        }     
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    h3{
        color: $color-lila;
            // font-size: 1.5rem;
    }
    p{
        letter-spacing: .5px;
        line-height: 1.5rem;
        color: $color-grayish-dark;
        }
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    h2{
        width: 100%;
    }
    .about_element{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        color: $color-grayish-dark;
        h3{
            color: $color-lila;
            font-size: 1.5rem;
        }
        .about_text{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 2rem;
            .about_info{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
                p{
                letter-spacing: .5px;
                line-height: 1.5rem;
                color: $color-grayish-dark;
                }
                p span{
                    font-weight: $weigth-ultra-bold;
                }
            }
            .about_data{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
                .about_destrezas{
                    .li_destrezas{
                        p{
                            letter-spacing: .5px;
                            line-height: 1.5rem;
                            color: $color-grayish-dark;
                            font-weight: $weigth-ultra-bold;
                        }
                    }
                }
            }
        }
        
        .about_figure{
            width : 200px;
            height: 200px;
            box-shadow: 0 0 50px $color-grayish;
            border-radius: 50%;
            img{
                clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%,0% 75%, 0% 25%);
                // border-radius: 50%;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                transform: scale(1.2);
            }
        }
        .about_data{
            .about_destrezas{
                width: 100%;
                display: flex;
                justify-content: space-between;
                list-style: none;
                flex-wrap: wrap;
                gap : .5rem;
                .li_destrezas{
                    width: 40%;
                }
            }
        }
    }
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    .skills_content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        .skill{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 125px;
            gap: 1rem;
            img{
                width: 100px;
            }
            p{
                color: $color-grayish;
                font-weight: bold;
            }
        }
    }
}
.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    .portfolio_content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .portfolio_work{
        width: 100%;
        border-radius: 1rem;
        img{
            border-radius: 1rem 1rem 0 0;
            display: block;
        }
    }
    .portfolio_figure{
        width: 100%;
        a{
            width: 100%;
        }
    }
    .portfolio_info{
        width: 100%;
        color: $color-white;
        background-color: rgba( 0, 0 ,0, .9);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem 2rem 2rem;
        border-radius: 0 0 1rem 1rem;
        gap: 2rem;
        h3{
            color: $color-white;
            font-size: 1.3rem;
        }
        .portfolio_data{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            // background: green;
            gap: 1rem;
        }
        .data{
            // width: 80px;
            padding: .4rem 1rem;
            border-radius: .5rem;
            display: flex;
            justify-content: center;
            gap: .5rem;
            background-color: $color-white;
            color: $color-grayish;
            img{
                width: 25px;
            }
        }
        .enlaces_verweb{
            display: flex;
            justify-content: center;
            gap: 1rem;
            align-items: center;
        }
        .portfolio-git_enlace{
            background-color: $color-white;
            color: $color-dark-black;
            padding: .4rem 1rem;
            border-radius: .5rem;
            border: 1px solid $color-dark-black;
            font-weight: bold;
            transition-duration: .5s;
            &:hover{
                transform: scale(1.1);
            }
        }
        .portfolio_enlace{
            background-color: $color-lila;
            color: $color-white;
            padding: .4rem 1rem;
            border-radius: .5rem;
            border: 1px solid $color-white;
            transition-duration: .5s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 6rem;
    h2{
        text-align: center;
        width: 100%;
    }
    .contact_content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .contact_social{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            h3{
                width: 100%;
                text-align: left;
            }
            p{
                color: $color-grayish;
                text-align: center;
            }
            .contact_icons{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 30%;
                gap: 1rem;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    color: $color-grayish-dark;
                }
                img{
                    width: 50px;
                }
            }
        }
    }
}
footer{
    text-align: center;
    color: $color-white;
    background-color: rgba( 0, 0 ,0, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 16px;
}
@media screen and (min-width: 992px){
    $width-md : 875px;
    $width-max-md : 900px;
    .container-md{
        width: $width-md;
        max-width: $width-max-md;
    }
    .header{
        .arrow{
            // position: relative;
            // width: 50px;
            img{
                width: 40px;
            }
        }
    }
    .nav_box{

    }
    .btn-menu{
        display: none;
    }
    .menu{
        position: initial;
        transform: translateY(0);
        width: 80%;
        flex-direction: row;
        padding: 0;
        transition-duration: initial;
        justify-content: flex-end;
        background: transparent;
        box-shadow: none;
        gap: 1.5rem;
        visibility:visible;
        opacity: 1;
        &.open-menu{
            transform: initial;
            // transition-duration: initial;
        }
        .menu_li{
            // background-color: blue;
            height: 100%;
            width: auto;
            // justify-content: flex-end;    
            .menu_a{
                color: $color-white;
                // background-color: red;
            }      
        }
    }
    .presentation{
        .taza{
            width: 150px;
        }
        .presentation_me{
            max-width: 900px;
            h1{
                font-size: 4.6rem;
                span{
                    font-size: 1.5rem;
                }
            }
            .efecto-escritura{
                font-size: 1.6rem;
            }
        }
        .presentation_social{
            width: 180px;
            a{
                width: 50px;
                height: 50px;
                .link_img{
                    width: 40px;
                }
                &:hover .link_img{
                    width: 50px;
                }
            }
        }
    }
    .about{
        .about_element{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .about_text{
                width: 70%;
                .about_info{
                    width: 100%;
                }
                .about_data{
                    width: 100%;
                }
            }
        }
    }
    .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4.5rem;
        .skills_content{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2rem;
            .skill{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 200px;
                gap: 1rem;
                img{
                    width: 100px;
                }
                p{
                    color: $color-grayish;
                    font-weight: bold;
                }
            }
        }
    }
    .portfolio{
        gap: 4.5rem;
        h2{
            width: 100%;
            text-align: center;
        }
        .portfolio_content{
            width: 100%;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            gap: 2rem;
        }
        .portfolio_work{
            width: 47%;
        }
    }
    .contact{
        gap: 4rem;
        h2{
            text-align: left;
        }
        .contact_content{
            .contact_social{
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .contact_icons{
                    width: 23%;
                    align-items: flex-start;
                    // background-color: green;
                    a{
                        width: 100%;
                        // background: red;
                        justify-content:space-between;
                    }
                }
                p{
                    width: 40%;
                    text-align: left;
                }
            }
        }
    }
}
@media screen and (min-width: 1200px){
    $width-md : 1080px;
    $width-max-md : 1080px;
    .container-md{
        width: $width-md;
        max-width: $width-max-md;
    }
    .presentation{
        .presentation_me{
            max-width: 1100px;
            h1{
                // font-size: 4rem;
            }
        }
    }
    .skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    .skills_content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        .skill{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
            gap: 1rem;
            img{
                width: 100px;
            }
            p{
                color: $color-grayish;
                font-weight: bold;
            }
        }
    }
}
    .portfolio{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
    h2{
        width: 100%;
        text-align: center;
    }
    .portfolio_work{
        width: 31%;
    }
}
.contact{
    gap: 4rem;
    h2{
        text-align: left;
    }
    .contact_content{
        .contact_social{
            gap: 3.5rem;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .contact_icons{
                width: 20%;
                align-items: flex-start;
                // background-color: green;
                a{
                    width: 100%;
                    // background: red;
                    justify-content:space-between;
                }
            }
            p{
                width: 40%;
                text-align: left;
            }
        }
    }
}
}